[submodule "MonoGame.ImGuiNet"]
	path = MonoGame.ImGuiNet
	url = https://github.com/uwx/FNA.ImGuiNet
[submodule "FNA"]
	path = FNA
	url = https://github.com/uwx/FNA
[submodule "FontStashSharp"]
	path = FontStashSharp
	url = https://github.com/FontStashSharp/FontStashSharp
[submodule "NvgSharp"]
	path = NvgSharp
	url = https://github.com/uwx/NvgSharp
[submodule "earcut.net"]
	path = earcut.net
	url = https://github.com/uwx/earcut.net
